name: build
on: [push, pull_request, workflow_dispatch]
jobs:
    windows:
        runs-on: windows-latest
        steps:
          - uses: actions/checkout@v4

          - uses: actions/checkout@v4
            with:
              repository: libsdl-org/SDL
              path: SDL
          
          - uses: microsoft/setup-msbuild@v2

          - run: ls

          - run: MSBuild.exe "SDL\VisualC\SDL\SDL.vcxproj" /p:Configuration=Release /p:Platform=x64

          - run: mkdir output
            shell: cmd

          - run: copy /Y SDL\VisualC\SDL\x64\Release\SDL3.dll output
            shell: cmd
          
          - uses: actions/upload-artifact@v4
            with:
              name: SDL3-Windows
              path: output
              
    linux:
        runs-on: ubuntu-22.04
        steps:
          - uses: actions/checkout@v4

          - uses: actions/checkout@v4
            with:
              repository: libsdl-org/SDL
              path: SDL

          - uses: actions/setup-java@v4
            with:
              java-version: '17'
              distribution: 'temurin'
        
          - uses: android-actions/setup-android@v3

          - run: 'sudo apt update'

          - run: 'sudo apt install git build-essential git make pkg-config cmake ninja-build gnome-desktop-testing libasound2-dev libpulse-dev libaudio-dev libjack-dev libsndio-dev libx11-dev libxext-dev libxrandr-dev libxcursor-dev libxfixes-dev libxi-dev libxss-dev libxtst-dev libxkbcommon-dev libdrm-dev libgbm-dev libgl1-mesa-dev libgles2-mesa-dev libegl1-mesa-dev libdbus-1-dev libibus-1.0-dev libudev-dev libpipewire-0.3-dev libwayland-dev libdecor-0-dev liburing-dev llvm'

          - run: mkdir output
          
          - run: mkdir output/android
          
          - run: mkdir output/linux
            
          - run: 'cmake -DCMAKE_INSTALL_PREFIX:String="Sdk" -B build -DCMAKE_BUILD_TYPE=Release -S SDL -G "Unix Makefiles"'
          
          - run: 'make'
            working-directory: 'build'

          - run: cp build/libSDL3.so output/linux
          
          - run: llvm-strip --strip-unneeded output/linux/libSDL3.so
          
          - run: 'cmake -DCMAKE_TOOLCHAIN_FILE=$ANDROID_NDK_ROOT/build/cmake/android.toolchain.cmake -DANDROID_PLATFORM=28 -DANDROID_ABI=arm64-v8a -B build_android -DCMAKE_BUILD_TYPE=Release -DCMAKE_SHARED_LINKER_FLAGS="-Wl,-z,max-page-size=16384" -S SDL -G "Unix Makefiles"'
          
          - run: 'make'
            working-directory: 'build_android'

          - run: cp build_android/libSDL3.so output/android
          
          - run: llvm-strip --strip-unneeded output/android/libSDL3.so
          
          - uses: actions/upload-artifact@v4
            with:
              name: SDL3-LinuxAndroid
              path: output
    
    macos:
        runs-on: macos-14
        steps:
          - uses: actions/checkout@v4
            with:
              submodules: "recursive"

          - uses: actions/checkout@v4
            with:
              repository: libsdl-org/SDL
              path: SDL

          - uses: actions/setup-java@v4
            with:
              java-version: '17'
              distribution: 'temurin'

          - run: mkdir output
          
          - run: 'cmake -D CMAKE_SYSTEM_NAME=Darwin -D CMAKE_OSX_ARCHITECTURES=arm64 -D CMAKE_OSX_DEPLOYMENT_TARGET=13.0 -D CMAKE_C_FLAGS=-mmacosx-version-min=13.0 -D CMAKE_CXX_FLAGS=-mmacosx-version-min=13.0 -B build -DCMAKE_BUILD_TYPE=Release -S SDL -G "Unix Makefiles"'
          
          - run: 'make'
            working-directory: 'build'

          - run: cp build/libSDL3.dylib output
          
          - uses: actions/upload-artifact@v4
            with:
              name: SDL3-OSX
              path: output
